{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		<style>
body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#report {
	max-width: 790px;

}

* {
	box-sizing: border-box;
}


		img {
			page-break-inside: avoid;
		}

		header {
			height: 200px;
			background-color: #20124d;
			display: flex;
			justify-content: center;
			align-items: center;
			color: white;
			font-size: 10px;
		}
		hr {
			height: 2px;
			background-color: #20124d;
			border: none;
			width: 90%;
			margin: 30px auto;
		}
		tr{
			text-align: center;
		}
		.text-left {
			text-align: left;
		}
		.bg-blue {
			background-color: #20124d;
		}
		.bg-light-blue {
			background-color: #cfe2f3;
		}
		.white {
			color: white;
		}

		.p-4 {
			padding: 8px;
		}

		<!-- .p-8 { -->
		<!-- 	padding: 16px; -->
		<!-- } -->

		.flex {
			display: flex;
		}
		.w-full {
			width: 100%;
		}
		.items-center {
			align-items: center;
		}
		.justify-center {
			justify-content: center;
		}
		.jsutify-end {
			justify-content: flex-end;
		}
		.justify-start {
			justify-content: flex-start;
		}
		.justify-between {
			justify-content: space-between;
		}
		.justify-around {
			justify-content: space-around;
		}
		.m-16 {
			margin-top: 32px;
		}
		.m-4 {
			margin: 8px 8px;
		}

		.flex-col {
			flex-direction: column;
		}

		.flex-wrap {
			flex-wrap: wrap;
		}

		.max-w-100 {
			max-width: 200px;
		}
		.min-h-60 {
			min-height: 120px;
		}
		.max-w-150 {
			max-width: 185px;
		}
		.min-h-200 {
			min-height: 220px;
		}
		<!-- .border { -->
		<!-- 	border: 1px solid black; -->
		<!-- } -->
		.bold {
			font-weight: bold;
		}
		.mx-auto {
			margin-left: auto;
			margin-right: auto;
		}

		.max-w-40p {
			max-width: 80%;
		}
		.image-wrapper {
			page-break-inside: avoid;
		}
		.summary * {
			margin: 2px;
			padding: 2px;
			font-size: 0.9125rem;
		}
		.summary header {
			height: 60px;
		}
		.summary p {
			margin: 0;
			padding: 0;
		}
		.summary h4 {
			margin: 0;
			padding: 0;
			color: turquoise;
		}
		.summary h3 {
			width: 100%;
			padding: 3px;
			text-align: center;
			margin: 0;
		}
		ul {
			list-style: disc inside;
		}
		</style>
	</head>
	<body>
		<div id="report">
			<div class="summary">
				<header class="p-4">
					<h1>“ Prioritising Education and Health ” with AI based products and solutions.	
					</h1>
				</header>
				<div class="flex flex-col items-center justify-center m-16">
					<!-- <h2> -->
					<!-- 	{{ name }}'s Report Summary  -->
					<!-- </h2> -->
					<div class="flex flex-wrap justify-around w-full">

						<div class="flex flex-col items-center justify-start max-w-150 bg-light-blue">
							<h3 class="bg-blue white p-4">
								Cardio Health
							</h3>
							<div class="min-h-200 bg-light-blue">
								<ul class="bg-light-blue p-8 min-h-60">
									<li class="m-4 image-wrapper">{{ name }}’s heart beat is {{ heartrate }} bpm and cadence is {{ cadence }} steps per minute</li>
									<li class="m-4 image-wrapper">The average heart rate and cadence for the age category 10-12 years are {{ avg_heartrate }} bpm and {{ avg_cadence }}.</li>
								</ul>
							</div>
						</div>

						<div class="flex flex-col items-center justify-start max-w-150 bg-light-blue">
							<h3 class="bg-blue white p-4">
								Body Mass Index
							</h3>
							<div class="min-h-200 bg-light-blue">
								<ul class="bg-light-blue p-8 min-h-60">
									<li class="m-4 image-wrapper">
										{{ name }}'s height is {{ height }} cm and weight is {{ weight }} kg and his is BMI is calculated to be {{ bmi }}
									</li>
									<li>
										The BMI ranges for children vary rapidly due the different growth patterns in children. 
										Consult your doctor for a more accurate interpretation of the BMI.
									</li>
								</ul>
							</div>
						</div>

						<div class="flex flex-col items-center justify-start max-w-150 bg-light-blue">
							<h3 class="bg-blue white p-4">
								Foot Health
							</h3>
							<div class="min-h-200 bg-light-blue">
								<ul class="bg-light-blue p-8 min-h-60">
									<li class="m-4 image-wrapper">{{ name }}'s toe pressure
										is
										{{ toe_pressure }} kpa, heel pressure
										is {{ heel_pressure }} kpa, center of
										pressure is {{ center_of_pressure }} kpa and
										flat foot region pressure is {{ flat_foot }} kpa
									</li>
									<li class="m-4 image-wrapper">
										The average values
										among the age
										category 10-12 years
										are found to be {{ avg_toe_pressure }} kpa,
										{{ avg_heel_pressure }} kpa, {{ avg_center_of_pressure }} kpa and {{ avg_flat_foot }} kpa
									</li>
								</ul>
							</div>
						</div>

						<div class="flex flex-col items-center justify-start max-w-150 bg-light-blue">
							<h3 class="bg-blue white p-4">
								Gait Stability
							</h3>
							<div class="min-h-200 bg-light-blue">
								<ul class="bg-light-blue p-8 min-h-60">
									<li class="m-4 image-wrapper">
										{{ name }}'s stride
										length is
										observed to be
										{{ stride_length }} and stride
										velocity is {{ stride_velocity }}
									</li>
									<li class="m-4 image-wrapper">The average
										values among the
										age category 10-
										12 years are
										found to be {{ avg_stride_length }}
										and {{ avg_stride_velocity }}</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="flex items-center justify-start p-4 m-16">
					<div class="flex flex-col border m-4">
						<h3>
							Please refer to the annexure for detailed information
						</h3>
					</div>
				</div>
				<div class="flex flex-col m-4 text-left">
					<div class="image-wrapper">

						<h4>Cardio Health</h4>
						<div class="flex flex-col text-left m-2">

							<p class="m-2">
							<span class="bold">Cadence: </span> 
							It is the number of steps per minute, crucial for sprint speed and efficiency.
							</p>
							<p class="m-2">Interpretation: Higher cadence means quicker steps, balanced stride length, and better momentum.</p>
							<p class="m-2"> Recommendation:  Use high-knee drills, strength training, and technique refinement to increase cadence.</p>
							<p class="m-2">
							<span class="bold">Heart Rate (HR): </span>
							It measures the number of heartbeats per minute, indicating cardiovascular intensity and endurance.
							</p>
							<p class="m-2">Interpretation: Higher HR during sprints show maximum effort, and recovery rate post-sprint reflects cardiovascular fitness.</p>
							<p class="m-2"> Recommendation: Interval training, sprint repeats, and endurance conditioning can help sprinters improve heart rate efficiency and recovery.</p>
						</div>
					</div>

					<h4>Body Mass Index (BMI)</h4>
					<div class="flex flex-col text-left m-2">
						<p class="m-2">
						<span class="bold">BMI: </span>
						It is a measure of body fat based on height and weight, used to assess overall body composition.
						</p>
						<p class="m-2">Interpretation: A healthy BMI boosts speed and agility; extremes can hinder performance and raise injury risk.</p>
						<p class="m-2"> Recommendation:  Use balanced nutrition, strength training, and monitor body composition to maintain optimal BMI.</p>
					</div>
					<h4>Foot Health</h4>
					<div class="flex flex-col text-left m-2">
						<p class="m-2">
						<span class="bold">Toe Pressure: </span>
						It is the force exerted by the toes during foot strike, crucial for push-off power and stability.
						</p>
						<p class="m-2">Interpretation: : Higher toe pressure improves propulsion and speed; uneven pressure may indicate imbalance.</p>
						<p class="m-2"> Recommendation: Strengthen foot muscles, practice balance, and refine sprint technique to improve toe pressure.</p>
						<p class="m-2">
						<span class="bold">Heel Pressure: </span>
						 It is the force exerted on the heel during foot strike, influencing stability and impact absorption.
						</p>
						<p class="m-2">Interpretation: Balanced heel pressure supports controlled landings; excessive heel pressure may indicate over striding</p>
						<p class="m-2"> Recommendation: Improve sprint form, strengthen feet, and practice proper foot strike for optimal heel pressure.</p>
						<p class="m-2">
						<span class="bold">Center of Pressure (CoP): </span>
						The point where force is concentrated on the foot during contact, impacting balance & stability.
						</p>
						<p class="m-2">Interpretation: A stable CoP indicates balanced foot mechanics; shifts may signal uneven weight distribution.</p>
						<p class="m-2"> Recommendationn: Focus on balance drills, strengthen stabilizing muscles, and refine sprinting form to achieve a stable CoP.</p>
						<p class="m-2">
						<span class="bold">Flat Foot: </span>
						Flat foot is a low or absent foot arch, affecting alignment and support.
						</p>
						<p class="m-2">Interpretation: It can reduce shock absorption, impact balance, and increase injury risk.</p>
						<p class="m-2"> Recommendation: Strengthen foot arches, use supportive shoes, and focus on proper sprinting technique.</p>
					
					</div>
					<h4>Gait Stability</h4>
					<div class="flex flex-col text-left m-2">
						<p class="m-2">
						<span class="bold">Stride Length: </span>
						 It is the distance covered in one step during a sprint, contributing to overall speed and efficiency.
						</p>
					<p class="m-2">Interpretation: Longer, controlled strides improve speed, but over striding can lead to inefficiency & increased injury risk.</p>
					<p class="m-2"> Recommendation: Practice flexibility and strength exercises, focus on sprint technique.</p>
					<p class="m-2">
					<span class="bold">Stride Velocity: </span>
					It is the speed of each stride, combining length and frequency
					</p>
					<p class="m-2">Interpretation: Higher stride velocity means faster sprints, balancing length and cadence.</p>
					<p class="m-2"> Recommendation: : Focus on interval sprints, strength training, and technique drills to boost stride velocity.</p>
					</div>
				</div>
			</div>
				<hr>
				<h2>PadhugAI Goals</h2>
				<div class="flex flex-wrap justify-center w-full p-8">
					<div class="flex flex-col m-4 border p-8 justify-center max-w-40p">
						<p class="bold">
						{{ name }} | {{ age }} years | Height: {{ height }}cm | Body Mass: {{ weight }}kg
						</p>
						<div class="image-wrapper"><img src="{% static 'img/duration_2.png' %}" alt="hassan's picture" height="300px" class="m-4 mx-auto"></div>
					</div>
					<!-- <div class="flex flex-col m-4 p-8 justify-center max-w-40p"> -->
					<!-- 	<table class="m-4"> -->
					<!-- 		<thead> -->
					<!-- 			<tr> -->
					<!-- 				<th class="bg-blue white">Activities for PE</th> -->
					<!-- 				<th class="bg-blue white">Measures for PE</th> -->
					<!-- 				<th class="bg-blue white">Measuring devices</th> -->
					<!-- 			</tr> -->
					<!-- 		</thead> -->
					<!-- 		<tbody> -->
					<!-- 			<tr> -->
					<!-- 				<td>Sprinting, Agility drills</td> -->
					<!-- 				<td> -->
					<!-- 					<ul> -->
					<!-- 						<li class="m-2 image-wrapper">Endurance test</li> -->
					<!-- 						<li class="m-2 image-wrapper">Balance test</li> -->
					<!-- 					</ul> -->
					<!-- 				</td> -->
					<!-- 				<td> -->
					<!-- 					<ul> -->
					<!-- 						<li class="m-2 image-wrapper">Stopwatch</li> -->
					<!-- 						<li class="m-2 image-wrapper">Smart Feet</li> -->
					<!-- 						<li class="m-2 image-wrapper">Smart Excercise Platform</li> -->
					<!-- 					</ul> -->
					<!-- 				</td> -->
					<!-- 			</tr> -->
					<!-- 		</tbody> -->
					<!-- 	</table> -->
					<!-- 	<div class="image-wrapper"><img src="{% static 'img/duration_2.png' %}" alt="duration chart" class="border" width="256px"></div> -->
					<!-- </div> -->
				</div>
				<hr>
				<h2>Student's Activity Levels - Heart Rate</h2>
				<div class="flex flex-col justify-start w-full p-8">


					<div class="flex flex-col justify-center m-16">
						<h4>Heart Rate</h4>
						<ul>
							<li class="m-2 image-wrapper">
								Average heart rate for kids ranges from <span class="bold">80 to 110 beats per minute.</span>
							</li>
							<li class="m-2 image-wrapper">
								Generally, a lower heart rate at rest implies more efficient heart function and better cardiovascular fitness.
							</li>
							<li class="m-2 image-wrapper">
								An unusually high resting heart rate may signify an increased risk of heart disease, stress or anxiety.
							</li>
						</ul>
						<table class="m-4">
							<thead>
								<tr>
									<th class="bg-blue white">Activity</th>
									<th class="bg-blue white">Avg bpm</th>
									<th class="bg-blue white">Min bpm</th>
									<th class="bg-blue white">Max bpm</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="bg-blue white">Running</td>
									<td>{{running_avg_bpm}}</td>
									<td>{{running_min_bpm}}</td>
									<td>{{running_max_bpm}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="flex justify-center m-16">
						<div class="image-wrapper"><img src="data:image/png;base64,{{ heart_rate_img|safe }}" alt="heart rate chart" class="border" width="720px"></div>
					</div>
				</div>
				<hr>
				<h2>Student's Activity Levels - Cadence</h2>
				<div class="flex flex-col justify-start w-full p-8">


					<div class="flex flex-col justify-center m-16">
						<h4>Cadence</h4>
						<ul>
							<li class="m-2 image-wrapper">
								Cadence refers to the <span class="bold">number of steps made in one minute.</span>
							</li>
							<li class="m-2 image-wrapper">
								Benefits of increasing the step rate
								<ul>
									<li class="m-2 image-wrapper">Reduces the body's vertical displacement. Less impact means less impact on the body</li>
									<li class="m-2 image-wrapper">Improves the tissues ability to respond to stress</li>
								</ul>
							</li>
						</ul>
						<div class="flex justify-start m-16 p-4 text-left">
							<p><span class="bold m-4">Cadence: </span> {{cadence}} </p>
						</div>
					</div>
					<div class="flex justify-center m-16">
						<div class="image-wrapper"><img src="data:image/png;base64,{{ cadence_img|safe }}" alt="heart rate chart" class="border" height="450px"></div>
					</div>
				</div>
				<hr>
				<h2>Foot Health</h2>
				<div class="flex flex-col justify-start w-full p-8">


					<div class="flex flex-col justify-center m-16">
						<h4>Toe Pressure and Heel Pressure</h4>
						<ul>
							<li class="m-2 image-wrapper">
								Pressure exerted by the toes/ heel against the ground during the walking cycle.
							</li>
							<li class="m-2 image-wrapper">
								It helps to detect early signs of abnormal foot issues - excessive pressure on specific areas, which might indicate conditions like flat feet, high arches, or other structural abnormalities.
							</li>
							<li class="m-2 image-wrapper">
								For athletes, it can help <span class="bold">optimize performance by improving efficiency</span> and reducing the risk of sports-related injuries.
							</li>
						</ul>
						<table class="m-4">
							<thead>
								<tr>
									<th class="bg-blue white">Leg</th>
									<th class="bg-blue white">Toe Pressure</th>
									<th class="bg-blue white">Heel Pressure</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="bg-blue white">Left</td>
									<td>{{left_toe_pressure}}</td>
									<td>{{left_heel_pressure}}</td>
								</tr>
								<tr>
									<td class="bg-blue white">Right</td>
									<td>{{right_toe_pressure}}</td>
									<td>{{right_heel_pressure}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="flex justify-center m-16">
						<div class="image-wrapper"><img src="data:image/png;base64,{{ pressure_img|safe }}" alt="heart rate chart" class="border" height="450px"></div>
					</div>
				</div>
				<hr>
				<h2>Center of Pressure</h2>
				<div class="flex flex-col justify-start w-full p-8">


					<div class="flex flex-col justify-center m-16">
						<h4>Center of Pressure (COP)</h4>
						<ul>
							<li class="m-2 image-wrapper">
								Point at which the resultant force of the pressure distribution under the foot is applied.
							</li>
							<li class="m-2 image-wrapper">Tracking COP movements provides insights into postural control and how adjustments are made during different phases of walking to maintain stability.
							</li>
						</ul>
						<table class="m-4">
							<thead>
								<tr>
									<th class="bg-blue white">Leg</th>
									<th class="bg-blue white">COP</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="bg-blue white">Left</td>
									<td>{{left_cop}}</td>
								</tr>
								<tr>
									<td class="bg-blue white">Right</td>
									<td>{{right_cop}}</td>

								</tr>
							</tbody>
						</table>
					</div>
					<div class="flex justify-center m-16">
						<div class="image-wrapper"><img src="data:image/png;base64,{{ cop_img|safe }}" alt="heart rate chart" class="border" height="450px"></div>
					</div>
				</div>
				<hr>
				<h2>Gait Stability Analysis - Walking Pattern</h2>
				<div class="flex flex-col justify-start w-full p-8">


					<div class="flex flex-col justify-center m-16">
						<h4>Gait Analysis</h4>
						<ul>
							<li class="m-2 image-wrapper">
								Gait analysis provides valuable insights into a person's functional <span class="bold">mobility, balance, and overall health.</span>
							</li>
							These parameters help healthcare professionals to diagnose, monitor, and treat conditions affecting mobility.
							</li>
							<li class="m-2 image-wrapper">
								Abnormal stride length or pattern can indicate various underlying issues, ranging from biomechanical imbalances to potential health concerns.
							</li>
						</ul>
						<table class="m-4">
							<thead>
								<tr>
									<th class="bg-blue white">Stride Length</th>
									<th class="bg-blue white">Stride Length variblity (5 to 15%)</th>
									<th class="bg-blue white">Stride Velocity</th>
									<th class="bg-blue white">Stride Velocity variblity(5 to 15%)</th>
									<th class="bg-blue white">Swing Time </th>
									<th class="bg-blue white">Swing Time variblity (5 to 15%)</th>
									<th class="bg-blue white">Stance time</th>
									<th class="bg-blue white">Stance time variblity (5 to 15%)</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>{{stride_length}}</td>
									<td>{{stride_length_variability}}</td>
									<td>{{stride_velocity}}</td>
									<td>{{stride_velocity_variability}}</td>
									<td>{{swing_time}}</td>
									<td>{{swing_time_variability}}</td>
									<td>{{stance_time}}</td>
									<td>{{stance_time_variability}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="flex justify-center m-16">
						<div class="image-wrapper"><img src="data:image/png;base64,{{ stride_radar_img|safe }}" alt="heart rate chart" class="border" height="450px"></div>
					</div>
				</div>
				<hr>
				<h2>Gait Stability Analysis - Assymetry</h2>
				<div class="flex flex-col justify-start w-full p-8">


					<div class="flex flex-col justify-center m-16">
						<h4>Gait Assymetry</h4>
						<ul>
							<li class="m-2 image-wrapper">
								Gait asymmetry (GA) is a difference in how the legs move during walking. We analyse it by measuring parameters like <span class="bold">step length, swing time, and stance time.</span>
							</li>
							These parameters help healthcare professionals to diagnose, monitor, and treat conditions affecting mobility.
							</li>
							<li class="m-2 image-wrapper">
								Benefits of measuring it:
								<ul>
									<li class="m-2 image-wrapper">t can be a key indicator of neurological disorders or musculoskeletal injuries</li>
									<li class="m-2 image-wrapper">n physical activities, it identify imbalances or faulty movement patterns that may cause an injury.</li>
									<li class="m-2 image-wrapper"> For athletes, it helps to enhance performance by ensuring more balanced and efficient movement.</li>
								</ul>
							</li>
						</ul>
						<table class="m-4">
							<thead>
								<tr>
									<th class="bg-blue white">Assymetry</th>
									<th class="bg-blue white">age group of 5 to 10</th>
									<th class="bg-blue white">age group of 10 to 15</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Average Assymetry</td>
									<td>4%</td>
									<td>2%</td>
								</tr>
							</tbody>
						</table>
						<table class="m-4">
							<thead>
								<tr>
									<th class="bg-blue white">Stride Length Assymetry (&lt; 10%)</th>
									<th class="bg-blue white">Stride Velocity Variability (&lt; 10%)</th>
									<th class="bg-blue white">Swing Time Assymetry (&lt; 10%)</th>
									<th class="bg-blue white">Stance Time Assymetry (&lt; 10%)</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>{{ stride_length_assymetry }}</td>
									<td>{{ stride_velocity_variability }}</td>
									<td>{{ swing_time_assymetry }}</td>
									<td>{{ stance_time_assymetry }}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="flex justify-center m-16">
						<div class="image-wrapper"><img src="data:image/png;base64,{{ assymetry_img|safe }}" alt="heart rate chart" class="border" height="450px"></div>
					</div>
				</div>
				<hr>

			</div>

		</div>
		<div class="flex justify-center p-8">
			<button id="downloadBtn" class="bg-blue white p-4">Download Report</button>
		</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
		<script>
			const opts = {
				filename: 'report.pdf',
				image: { type: 'jpeg', quality: 1 },
				html2canvas: {
					dpi: 192,
					scale: 2,
					letterRendering: true,
				},
			};

			document.getElementById('downloadBtn').addEventListener('click', function() {
				const element = document.getElementById('report'); // The part of the page you want to convert
				const button = document.getElementById('downloadBtn');
				button.disabled = true;
				button.innerText = 'Generating PDF...';

				// Generate PDF and re-enable the button once done
				html2pdf().from(element).set(opts).save().then(function() {
					button.disabled = false;
					button.innerText = 'Download Report';
				}).catch(function(error) {
					button.disabled = false;
					button.innerText = 'Download Report';
					console.error('PDF generation failed:', error);
				});
			});
		</script>
	</body>
</html>
